<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../js/enterQuickRoom.js"></script>
    <title>Document</title>
</head>
<body>
    <form action="/chat" id="testform">
        <input name="room" id="room" required placeholder="room">
        <input name="nickname" required placeholder="nickname">
        <button type="submit">done</button>
    </form>
</body>
</html>